.logo-container {
      text-align: center; /* ou left/right selon ton design */
      padding: 20px;
      background-color: #f5f5f5;
    }

    .logo-container img {
      height: 60px; /* ajuste selon la taille de ton logo */
    }
body {
  text-align: center
  background: #F7F7F7
}

h1 {
  text-align: center
}
h2 {
  text-align: center
}

